@using DotnetProjet5.ViewModels
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Nos Voitures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="container align-items-center">
        
        <div class="d-flex justify-content-center mb-5">
            <a asp-area="" asp-controller="Vehicles" asp-action="Create" class="btn btn-custom mb-3 d-flex">+ Ajouter une Voiture</a>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-3">
            @foreach (var item in Model)
            {
                //TODO verifier si ce n est pas mieu de recuperer la liste des vehicules dans le controller
                //creer un getallavailablevehicles
                @if (item.Availability)
                {
                    @Html.Partial("~/Views/Shared/_VehicleCardSmallPartial.cshtml", item)
                } 
            }
        </div>
    </div>
</body>
