@using DotnetProjet5.ViewModels
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Nos Voitures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="container align-items-center">

        <div class="d-flex justify-content-center mb-5">
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-3">
            @foreach (var item in Model)
            {

                @Html.Partial("~/Views/Shared/_VehicleCardSmallPartial.cshtml", item)

            }
        </div>
    </div>
</body>
