@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
  
    <li class="nav-item">
        <a class="nav-link text-dark hover-bold" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" aria-label="Déconnexion">
            Déconnexion
        </a>
    </li>
}
else
{
    <li class="nav-item hover-bold">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" aria-label="Inscription">Inscription</a>
    </li>
    <li class="nav-item hover-bold">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" aria-label="Connexion">Connexion</a>
    </li>
}
</ul>
