@model DotnetProjet5.ViewModels.VehicleViewModel

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="form-group">
                <label asp-for="CodeVin" class="control-label"></label>
                <input asp-for="CodeVin" class="form-control" aria-describedby="codeVinHelp codeVinError" aria-invalid="true" />
                <span id="codeVinHelp" class="form-text text-muted">Entrez le code VIN du véhicule.</span>
                <span id="codeVinError" asp-validation-for="CodeVin" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" type="number" min="1993" max="@DateTime.Now.Year" aria-describedby="yearHelp yearError" aria-invalid="true" />
                <span id="yearHelp" class="form-text text-muted">Entrez l'année de fabrication du véhicule.</span>
                <span id="yearError" asp-validation-for="Year" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" type="date" aria-describedby="purchaseDateHelp purchaseDateError" min="1993-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" aria-invalid="true" />
                <span id="purchaseDateHelp" class="form-text text-muted">Entrez la date d'achat du véhicule.</span>
                <span id="purchaseDateError" asp-validation-for="PurchaseDate" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" aria-describedby="purchasePriceHelp purchasePriceError" aria-invalid="true" />
                <span id="purchasePriceHelp" class="form-text text-muted">Entrez le prix d'achat du véhicule.</span>
                <span id="purchasePriceError" asp-validation-for="PurchasePrice" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" aria-describedby="brandHelp brandError" aria-invalid="true" />
                <span id="brandHelp" class="form-text text-muted">Entrez la marque du véhicule.</span>
                <span id="brandError" asp-validation-for="Brand" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" aria-describedby="modelHelp modelError" aria-invalid="true" />
                <span id="modelHelp" class="form-text text-muted">Entrez le modèle du véhicule.</span>
                <span id="modelError" asp-validation-for="Model" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finish" class="control-label"></label>
                <input asp-for="Finish" class="form-control" aria-describedby="finishHelp finishError" aria-invalid="true" />
                <span id="finishHelp" class="form-text text-muted">Entrez la finition du véhicule.</span>
                <span id="finishError" asp-validation-for="Finish" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" aria-describedby="descriptionHelp descriptionError" aria-invalid="true" />
                <span id="descriptionHelp" class="form-text text-muted">Entrez une description du véhicule.</span>
                <span id="descriptionError" asp-validation-for="Description" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityDate" class="control-label"></label>
                <input asp-for="AvailabilityDate" class="form-control" type="date" aria-describedby="availabilityDateHelp availabilityDateError" aria-invalid="true" />
                <span id="availabilityDateHelp" class="form-text text-muted">Entrez la date de disponibilité du véhicule.</span>
                <span id="availabilityDateError" asp-validation-for="AvailabilityDate" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <input asp-for="Availability" type="checkbox" aria-describedby="availabilityHelp availabilityError" aria-invalid="true" />
                <span id="availabilityHelp" class="form-text text-muted">Cochez si le véhicule est disponible.</span>
                <span id="availabilityError" asp-validation-for="Availability" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selled" class="control-label"></label>
                <input asp-for="Selled" type="checkbox" aria-describedby="selledHelp selledError" aria-invalid="true" />
                <span id="selledHelp" class="form-text text-muted">Cochez si le véhicule est vendu.</span>
                <span id="selledError" asp-validation-for="Selled" class="text-danger" role="alert"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" aria-describedby="imageFileHelp imageFileError" aria-invalid="true" />
                <span id="imageFileHelp" class="form-text text-muted">Téléchargez une image du véhicule.</span>
                <span id="imageFileError" asp-validation-for="ImageFile" class="text-danger" role="alert"></span>
            </div>
        </div>
    </div>
</div>
