@{
    ViewData["Title"] = "CreateConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 50vh;">
    <h1 id="confirmation-title">Merci !</h1>
    <p id="confirmation-message">Votre voiture a bien été publiée</p>
    <a class="btn btn-custom" asp-area="" asp-controller="Home" asp-action="Index" aria-labelledby="confirmation-title confirmation-message">Retourner à l'accueil</a>
</div>
