
@{
    ViewData["Title"] = "CreateConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Félicitations</h1>


<h2>Vehicule ajouté avec succès </h2>

<a class="link text-dark" asp-area="" asp-controller="Home" asp-action="Index">retourner à l 'accueil</a>
