@model DotnetProjet5.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Ajouter une voiture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1 id="form-title">@ViewData["Title"]</h1>

    <div class="row-cols-1 justify-content-center">
        <div class="col-md-6" style="box-shadow: 0px 4px 16px 0px #0000000F; width: 100%; margin: auto;">

            <form asp-action="Create" enctype="multipart/form-data" aria-labelledby="form-title">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.Partial("~/Views/Shared/_VehicleFormPartial.cshtml", Model)
                <div class="form-group mx-auto d-flex justify-content-center" style="width: 372px;">
                    <input type="submit" value="Publier" class="btn btn-custom" aria-label="Publier le formulaire" />
                </div>
            </form>
        </div>
    </div>
</body>
