@model DotnetProjet5.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Ajouter une voiture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row-cols-1 justify-content-center">
        <div class="col-md-6 " style="box-shadow: 0px 4px 16px 0px #0000000F; width: 100%; margin: auto;">
            <form asp-action="Create" enctype="multipart/form-data" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mx-auto" style="width: 372px;">
                    <label asp-for="CodeVin" class="control-label"></label>
                    <input asp-for="CodeVin" class="form-control" />
                    <span asp-validation-for="CodeVin" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="PurchaseDate" class="control-label"></label>
                    <input asp-for="PurchaseDate" class="form-control" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="PurchasePrice" class="control-label"></label>
                    <input asp-for="PurchasePrice" class="form-control" />
                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Finish" class="control-label"></label>
                    <input asp-for="Finish" class="form-control" />
                    <span asp-validation-for="Finish" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="Availability" class="control-label"></label>
                    <input asp-for="Availability" type="checkbox" class="form-control" checked="true" />
                    <span asp-validation-for="Availability" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="AvailabilityDate" class="control-label"></label>
                    <input asp-for="AvailabilityDate" class="form-control" />
                    <span asp-validation-for="AvailabilityDate" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto" style="width: 372px;">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group  mx-auto d-flex justify-content-center" style="width: 372px;">
                    <input type="submit" value="Publier" class="btn btn-custom" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
