@{
    ViewData["Title"] = "CreateConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="text-center" id="confirmation-title">Merci !</h1>
        <p class="mb-5" id="message-de-confirmation">Vôtre voiture a bien été puliée</p>
        <a class="btn btn-custom mt-5" asp-area="" asp-controller="Vehicles" asp-action="Index" aria-labelledby="confirmation-title confirmation-message">Retourner à l'accueil</a>
    </div>
</div>
