@model Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeVin" class="control-label"></label>
                <input asp-for="CodeVin" class="form-control" />
                <span asp-validation-for="CodeVin" class="text-danger"></span>
            </div>
            @*  TODO revoir le type , il faut convertir l année en number et reconvertir en datetime pour la db *@
            <div class="form-group">  
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" type="number" min="1994" id="yearInput" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            @* Pour definir le max à l année en cours *@
            <script>
                var currentYear = new Date().getFullYear();
                document.getElementById('yearInput').max = currentYear;
            </script>

            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finish" class="control-label"></label>
                <input asp-for="Finish" class="form-control" />
                <span asp-validation-for="Finish" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Availability" /> @Html.DisplayNameFor(model => model.Availability)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityDate" class="control-label"></label>
                <input asp-for="AvailabilityDate" type="date" class="form-control" />
                <span asp-validation-for="AvailabilityDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
