@{
    ViewData["Title"] = "Delete Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vehicle Deleted</h1>
<p>The vehicle has been successfully deleted.</p>
<p>Details:</p>
<ul>
    <li>Brand: @ViewBag.Brand</li>
    <li>Model: @ViewBag.Model</li>
    <li>Year: @ViewBag.Year</li>
</ul>
<a asp-action="Index" class="btn btn-primary">Back to List</a>