@{
    ViewData["Title"] = "Delete Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 >@ViewBag.Year @ViewBag.Brand @ViewBag.Model</h1>
        <p class="mb-5">a bien été supprimée</p>
        <a asp-action="Index" class="btn btn-custom mt-5">retour à l'accueil</a>
    </div>
</div>