@model DotnetProjet5.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Home" asp-action="Index" class="text-muted"><i class="fa-solid fa-arrow-left " aria-hidden="true"></i>   retour</a>

@{
    ViewData["Title"] = "Détails du véhicule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body >
    <main class="container align-items-center">

    <h1 class="mb-5">Détails du véhicule</h1>
    <div class="row justify-content-center">
        @Html.Partial("_VehicleCardLargePartial", Model)
    </div>

    <a asp-action="Edit" asp-route-id="@Model?.CodeVin">Edit</a> | 
    <a asp-action="Delete" asp-route-id="@Model?.CodeVin">Delete</a> | 


    </main>
</body>
