@model DotnetProjet5.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Modifier un véhicule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="edit-vehicle-title">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        @if (Model.ImageUrl != null)
        {
            <div class="col-md-6 order-1 order-md-2 d-flex justify-content-center mb-3 mb-md-0">
                <img src="@Model.ImageUrl" alt="Image de @Model.Model" class="img-fluid rounded" style="object-fit: cover; width: 250px; height: 250px;">
            </div>
        }
        <div class="col-md-6 order-2 order-md-1">
            <form asp-action="Edit" enctype="multipart/form-data" aria-labelledby="edit-vehicle-title">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.Partial("~/Views/Shared/_VehicleFormPartial.cshtml", Model)
                <div class="form-group mx-auto d-flex justify-content-center" style="width: 372px;">
                    <input type="submit" value="Save" class="btn btn-custom" aria-label="Save changes" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" aria-label="Back to list">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
