@model IEnumerable<DotnetProjet5.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Nos Voitures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex justify-content-center mb-5">
    <a asp-area="" asp-controller="Vehicles" asp-action="Create" class="btn btn-custom mb-3 d-flex">+ Ajouter une Voiture</a>
</div>
@foreach (var item in Model)
{
    @Html.Partial("~/Views/Shared/_VehicleCardSmallPartial.cshtml", item)

    <td>
        <a asp-action="Edit" asp-route-id="@item.CodeVin">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.CodeVin">Details</a> |
        <a asp-action="Delete" asp-controller="Vehicles" asp-route-id="@item.CodeVin">Delete</a>
    </td>
}
}

